@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIENVENIDOS</h1>
    <p class="lead">Estamos agradecidos de su confianza.</p>
</div>

<script>window.watsonAssistantChatOptions = {
        integrationID: "030a7e40-0bc7-4f90-ab60-d115334bf9b9", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "f44b4051-b68a-4bc4-86b5-c545b1a9e19a", // The ID of your service instance.
        onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
        document.head.appendChild(t);
    });</script>
